.main {
  font-family: Baumans, sans-serif;
  display: flex;
  flex-direction: column;
}

.main__intro {
  max-width: 600px;
  text-align: center;
  margin: 8px auto;
}

.main__header {
  font-size: 24px;
}

.main__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

.main__card {
  list-style-type: none;
  margin: 0 auto 0;
  padding: 0;
  max-width: 320px;
}

.main__id-search {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0);
  padding: 0;
  max-width: 240px;
  width: 100%;
}

.main__result {
  margin: auto 25px;
}

.main__card-caption {
  text-wrap: wrap;
}

.main__btn {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 15px 0 15px 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #ebebeb;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 100%;
  width: 190px;
}
.main__btn:hover {
  border-color: #646cff;
}
.main__btn:focus,
.main__btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main__search {
  margin: 15px auto;
}

:root {
  font-family: baumans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: none;

  color-scheme: light dark;
  color: #001;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 300px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 450px) {
  .body {
    max-width: 310px;
  }
  .main__id-search {
    flex-direction: column;
  }
  .main__title {
    font-size: medium;
  }
  .main__intro {
    font-size: x-small;
    max-width: 280px;
    text-wrap: break-word;
    width: 80%;
  }
  .main__btn {
    width: 80px;
    margin: 8px auto;
  }
}
